<!-- filter home -->
	<div class="filter-home segments">
		<div class="container-pd">
			<div class="row">
				<div class="col-4 px-2">
					<?php if($this->session->userdata('usia') >= 65){?>
					<a href="<?php echo base_url('bookinglansia/view');?>">
						<div class="content b-shadow">
							<i class="fa fa-user-plus"></i>
							<h6>Booking Umum Lansia</h6>
						</div>
					</a>
					<?php }else{ ?>
					<a href="<?php echo base_url('booking/view');?>">
						<div class="content b-shadow">
							<i class="fa fa-user-plus"></i>
							<h6>Booking Umum</h6>
						</div>
					</a>
					<?php } ?>
				</div>
				<div class="col-4 px-2">
					<?php if($this->session->userdata('usia') >= 65){?>
					<a href="<?php echo base_url('bpjslansia/view');?>">
						<div class="content b-shadow">
							<img src="<?php echo base_url('vendor/eleco/images/bpjs.png');?>" width="28">
							<i></i>
							<h6>Booking Bpjs Lansia</h6>
						</div>
					</a>
					<?php }else{ ?>
					<a href="<?php echo base_url('bpjs/view');?>">
						<div class="content b-shadow">
							<img src="<?php echo base_url('vendor/eleco/images/bpjs.png');?>" width="28">
							<i></i>
							<h6>Booking Bpjs</h6>
						</div>
					</a>
					<?php } ?>
				</div>
				<div class="col-4 px-2">
					<a href="<?php echo base_url('info/jadwal_dokter');?>">
						<div class="content b-shadow">
							<i class="fa fa-calendar"></i>
							<h6>Jadwal Dokter</h6>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-4 px-2">
					<a href="<?php echo base_url('info/kamar');?>">
						<div class="content b-shadow">
							<i class="fa fa-hotel"></i>
							<h6>Informasi Kamar</h6>
						</div>
					</a>
				</div>
				<div class="col-4 px-2">
					<a href="<?php echo base_url('info/tanya_jawab');?>">
						<div class="content b-shadow">
							<i class="fa fa-bullhorn"></i>
							<h6>Tanya Jawab</h6>
						</div>
					</a>
				</div>
				<div class="col-4 px-2">
					<a href="<?php echo base_url('artikel/list')?>">
						<div class="content b-shadow">
							<i class="fa fa-rss"></i>
							<h6>Artikel</h6>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end filter home -->