<!-- filter home -->
	<div class="filter-home segments">
		<div class="container-pd">
			<div class="row">
				<div class="col-4 px-2">
					
					<a href="<?php echo base_url('booking/view');?>">
						<div class="content b-shadow">
							<i class="fa fa-user-plus"></i>
							<h6>Booking Umum</h6>
						</div>
					</a>
					
				</div>
				<div class="col-4 px-2">
					
					<a href="<?php echo base_url('bpjs/view');?>">
						<div class="content b-shadow">
							<img src="<?php echo base_url('vendor/eleco/images/bpjs.png');?>" width="28">
							<i></i>
							<h6>Booking Bpjs</h6>
						</div>
					</a>
					
				</div>
				<div class="col-4 px-2">
					<a href="<?php echo base_url('info/kuota')?>">
						<div class="content b-shadow">
							<i class="fa fa-rss"></i>
							<h6>Informasi Kuota <span style="text-align: center; animation: blink-animation 2s steps(10, start) infinite; -webkit-animation: blink-animation 2s steps(10, start) infinite;">(New)</span></h6>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-4 px-2">
					<a href="<?php echo base_url('info/kamar');?>">
						<div class="content b-shadow">
							<i class="fa fa-hotel"></i>
							<h6>Informasi Kamar</h6>
						</div>
					</a>
				</div>
				<div class="col-4 px-2">
					<a href="<?php echo base_url('info/jadwal_dokter');?>">
						<div class="content b-shadow">
							<i class="fa fa-calendar"></i>
							<h6>Jadwal Dokter</h6>
						</div>
					</a>
				</div>
				<div class="col-4 px-2">
					<a href="<?php echo base_url('info/tanya_jawab');?>">
						<div class="content b-shadow">
							<i class="fa fa-bullhorn"></i>
							<h6>Tanya Jawab</h6>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end filter home -->