	<!-- footer -->
	<footer class="footer-home">
		<div class="container-pd">
			<div class="content">
				<h4>RSUD KOTA DEPOK</h4>
				<a href=""></a>
			</div>
		</div>
		<div class="by">
			<p>Copyright &copy; 2017 - 2019 Instalasi IT RSUD Kota Depok.</p>
		</div>
	</footer>
	<!-- end footer -->

	<script src="<?php echo base_url('vendor/eleco/js/jquery.min.js');?>"></script>
	<script src="<?php echo base_url('vendor/eleco/js/bootstrap.min.js');?>"></script>
	<script src="<?php echo base_url('vendor/eleco/js/lightbox.js');?>"></script>
	<script src="<?php echo base_url('vendor/eleco/js/animsition.min.js');?>"></script>
	<script src="<?php echo base_url('vendor/eleco/js/animsition-custom.js');?>"></script>
	<script src="<?php echo base_url('vendor/eleco/js/jquery.big-slide.js');?>"></script>
	<script src="<?php echo base_url('vendor/eleco/js/owl.carousel.min.js');?>"></script>
	<script src="<?php echo base_url('vendor/eleco/js/main.js');?>"></script>
	<script src="<?php echo base_url('vendor/eleco/js/dttables.js');?>"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129167855-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129167855-1');
</script>

