<!-- navbar -->
	<div class="navbar navbar-pages">
		<div class="container">
			<div class="content-left">
				<a href="#menu" class="menu-link"></a>
			</div>
			<div class="content-center">
				<h4 style="color: #ffffff;">Silahkan Masuk</h4>
			</div>
			<div class="content-right">
				
			</div>
		</div>
	</div>
	<!-- end navbar -->
	