<!-- navbar -->
	<div class="navbar navbar-pages">
		<div class="container">
			<div class="content">
				<h4><a href="<?php echo base_url('home/view');?>" class="link-back"><i class="fa fa-arrow-left "></i></a> <?php echo strtoupper($title);?></h4>
			</div>
		</div>
	</div>
	<!-- end navbar -->