	<!-- navbar -->
	<div class="navbar navbar-home">
		<div class="container">
			<div class="content-left">
				<a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
			</div>
			<div class="content-center">

				<a href="<?php echo base_url('home/view');?>">
					<?php
					if($this->uri->segment(1) == 'home' && $this->uri->segment(2) == 'view')
					{
						echo '';
					}
					else
					{
						echo '<p><i class="fa fa-arrow-left"></i> Kembali</p>';
					}
					?>
					<h1>APLIKASI</h1>
				</a>
			</div>
			<div class="content-right">
				<?php if(notifikasi('jumlah') > 0) {?>
				<a href="<?php echo base_url('info/notifikasi');?>"><h4><span class="badge badge-info bg-danger blink"><?php echo notifikasi('jumlah');?><i class="fa fa-envelope"></i></span></h4></a>
				<?php }else{ ?>
				<a href="<?php echo base_url('info/notifikasi');?>"><h4><span class="badge badge-info"><?php echo notifikasi('jumlah');?> <i class="fa fa-envelope"></i></span></h4></a>
				<?php } ?>
			</div>
		</div>
	</div>
	<!-- end navbar -->