
	<!-- sidebar -->
	<div class="side-overlay"></div>
	<div id="menu" class="panel sidebar" role="navigation">
		<div class="sidebar-header">
			<?php echo ($this->session->userdata('jk') == 'L') ? '<img src="'.base_url('vendor/eleco/images/pria.png').'" alt="">' : '<img src="'.base_url('vendor/eleco/images/pria.png').'" alt="">'; ?>
			<span><?php echo $this->session->userdata('nm_lengkap');?> | <?php echo $this->session->userdata('no_rkm_medis');?></span><br>
			<a href="<?php echo base_url('info/profile');?>" class="button button-white"><i class="fa fa-user"></i>Profile</a>
			<a href="<?php echo base_url('welc/l');?>" class="button button-white"><i class="fa fa-sign-out"></i>Keluar</a>
		</div>

		<ul>
			<?php if($this->session->userdata('usia') >= 65){?>
			<li>
				<a href="<?php echo base_url('bookinglansia/view');?>"><i class="fa fa-user-plus"></i>Booking Umum Lansia</a>
			</li>
			<li>
				<a href="<?php echo base_url('bpjslansia/view');?>"><i class="fa fa-user-plus"></i>Booking Bpjs Lansia</a>
			</li>
			<?php }else{ ?>
			<li>
				<a href="<?php echo base_url('booking/view');?>"><i class="fa fa-user-plus"></i>Booking Umum</a>
			</li>
			<li>
				<a href="<?php echo base_url('bpjs/view');?>"><i class="fa fa-user-plus"></i>Booking Bpjs</a>
			</li>
			<?php } ?>
			<li>
				<a href="<?php echo base_url('info/jadwal_dokter');?>"><i class="fa fa-calendar"></i>Jadwal Dokter</a>
			</li>
			<li>
				<a href="<?php echo base_url('info/kamar');?>"><i class="fa fa-hotel"></i>Informasi Kamar</a>
			</li>
			<li>
				<a href="<?php echo base_url('pesan/view');?>"><i class="fa fa-envelope"></i>Kirim Pesan</a>
			</li>
			<li>
				<a href="<?php echo base_url('info/tanya_jawab');?>"><i class="fa fa-bullhorn"></i>Tanya Jawab</a>
			</li>
			<li>
				<a href="<?php echo base_url('artikel/view');?>"><i class="fa fa-rss"></i>Artikel</a>
			</li>
			<li>
				<a href="<?php echo base_url('info/qr_code');?>"><i class="fa fa-qrcode"></i>Lihat QR-CODE</a>
			</li>
			<li>
				<a href="<?php echo base_url('info/cuti_dokter');?>"><i class="fa fa-calendar-check-o"></i>Kalender Cuti Dokter</a>
			</li>
			<li>
				<a href="<?php echo base_url('info/riwayat_booking');?>"><i class="fa fa-history"></i>Riwayat Booking</a>
			</li>
			<li>
				<a href="<?php echo base_url('aplikasibpjs/view');?>"><i class="fa fa-apps"></i>Apps BPJS</a>
			</li>
			<li>
				<a href="<?php echo base_url('info/maps');?>"><i class="fa fa-map"></i>Maps Rsud Kota Depok</a>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->