
	<div class="sign-in segments-page">
		<div class="container">
			<?php 
			  echo calrt();
			  $this->session->unset_userdata('msg');
			  $this->session->unset_userdata('error');
			?>
			<div class="content b-shadow">
				<form method="post" action="<?php echo base_url('welc/c');?>">
				    <div class="row">
						<div class="col-12">
							<span class="text" style="text-align: center; animation: blink-animation 2s steps(10, start) infinite; -webkit-animation: blink-animation 2s steps(10, start) infinite;">
								<h4 class="text-danger">Aplikasi ini diperuntukan untuk pasien yang sudah TERDAFTAR dan memiliki Nomor Rekam Medis di RSUD Kota Depok.</h5>
							</span>
						</div>
					</div>	
					<input type="text" name="username" placeholder="Masukan Nomor Rekam Medis">
					<input type="password" name="password" placeholder="NIK KTP" autocomplete="off">
					<div class="row">

						<div class="col-12 pt-2 pb-2">
							<span class="text"><h4>Silahkan isi jumlah perhitungan pada formulir input berikut ini.</h4></span>
						</div>
						<div class="col-11 pt-2 pb-2">
							<span class="text"><h5><?php echo $random_number1 . '+'. $random_number2;?> = </h5></span>
						</div>
						<div class="col-12">
							<input type="text" name="jumlah" required="">
						</div>
						
					</div>
					<input type="hidden" name="random_number1" value="<?php echo $random_number1;?>">
					<input type="hidden" name="random_number2" value="<?php echo $random_number2;?>">
					
					<button class="btn" style="background: #00acbf; color: #FFFFFF;">Sign in</button>
				</form>
			</div>
		</div>
	</div>
	<!-- end sign in