	</div>
	<!-- ############ text footer -->
	<div class="dk pos-rlt">
	      <div class="p-md">
	        <div class="footer p-a p-x-md">
				<div class="row">
			        <div class="col-sm-12">
			        	<div class="text-sm-right text-xs-left">
			        		<small><p class="text-muted">&copy; Copyright 2019 | By. Team IT Rsud Depok.</p></small>
			        	</div>
			        </div>
				</div>
			</div>

	      </div>
	    </div>
	  </div>
	  <!-- / -->
<!-- ############ LAYOUT END-->
	<?php get_template('formulir/f_pegawai');?>
  </div>
<!-- build:js scripts/app.html.js -->
	<!-- jQuery -->
	<script src="<?php echo base_url('vendor/assets_flatkit/libs/jquery/jquery/dist/jquery.js');?>"></script>
	<!-- Bootstrap -->
	<script src="<?php echo base_url('vendor/assets_flatkit/libs/jquery/tether/dist/js/tether.min.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/libs/jquery/bootstrap/dist/js/bootstrap.js');?>"></script>
	<!-- core -->
	<script src="<?php echo base_url('vendor/assets_flatkit/libs/jquery/underscore/underscore-min.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/libs/jquery/PACE/pace.min.js');?>"></script>

	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/config.lazyload.js');?>"></script>

	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/palette.js');?>"></script>
	<!-- <script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-load.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-jp.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-include.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-device.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-form.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-nav.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-screenfull.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-scroll-to.js');?>"></script>
	<script src="<?php echo base_url('vendor/assets_flatkit/scripts/ui-toggle-class.js');?>"></script> -->
	<script src="<?php echo base_url('vendor/assets_flatkit/libs/jquery/select2/dist/js/select2.min.js');?>"></script>

	<!-- <script src="<?php echo base_url('vendor/assets_flatkit/scripts/app.js');?>"></script> -->
	<script src="<?php echo base_url('vendor/assets_flatkit/core.js?u=3');?>"></script>

	<!-- ajax -->
	<!-- <script src="<?php echo base_url('vendor/assets_flatkit/libs/jquery/jquery-pjax/jquery.pjax.js');?>"></script> -->
	<!-- <script src="<?php echo base_url('vendor/assets_flatkit/scripts/ajax.js');?>"></script> -->
	<!-- <script src="<?php echo base_url('vendor/highchart/code/highcharts.js');?>"></script> -->
	<!-- endbuild -->
	<script type="text/javascript">
	  $(document).ready(function(){
	    
	    // View Modal Formulir Pegawai
	    $('.f_pegawai').click(function(){
	      $('#modalMod').modal();
	    });

	    // View List Telp
	    $('.list_telp').click(function(){
	      alert('sdzx');
	    });

	  });
	</script>