		<div id="content" class="app-content box-shadow-z0" role="main">	
			<div class="app-header navbar-md white box-shadow">
			  <div class="navbar navbar-toggleable-sm flex-row align-items-center">
		        <a data-toggle="collapse" data-target="#navbar-4" class="navbar-item pull-right hidden-md-up m-0 m-l">
		          <i class="material-icons">&#xe5d2;</i>
		        </a>
			        <!-- brand -->
					<a class="navbar-brand">
						<img src="<?php echo base_url('vendor/assets_flatkit/images/logo.jpg');?>" alt="." class="hidden-folded inline">
						<!-- <span class="hidden-folded inline" style="color: red; opacity: 0.6;">Apps Rsud</span> -->
					</a>
					<!-- / brand -->


		        <!-- navbar collapse -->
		        <div class="collapse navbar-collapse" id="navbar-4" data-pjax>
		          <!-- link and dropdown -->
		          <?php echo akses_link();?>
		          <!-- / link and dropdown -->
		        </div>
		        <!-- / navbar collapse -->

		        <!-- nabar right -->
		        <ul class="nav navbar-nav ml-auto">
		          <li class="nav-item">
		            <a class="nav-link" ui-fullscreen>
		              <span><i class="fa fa-fw fa-arrows-v"></i></span> 
		            </a>
		          </li>
		          <li class="nav-item dropdown">
		            <a href class="nav-link" data-toggle="dropdown">
		              <i class="material-icons">&#xe5c3;</i>
		              <span class="label up p-0 accent"></span>
		            </a>
		            <div class="dropdown-menu w-xl text-color pull-right p-a-0 animated flipInX">
						<div class="row no-gutter text-{{app.setting.theme.primary}}-hover">
						  <div class="col-sm-4 b-r b-b">
						    <a class="p-a block text-center">
						      <i class="material-icons md-24 text-muted m-v-sm">&#xe190;</i>
						      <span class="block">Alarm</span>
						    </a>
						  </div>
						  <div class="col-sm-4 b-r b-b">
						    <a class="p-a block text-center">
						      <i class="material-icons md-24 text-muted m-v-sm">&#xe87d;</i>
						      <span class="block">Favorite</span>
						    </a>
						  </div>
						  <div class="col-sm-4 b-b">
						    <a class="p-a block text-center">
						      <i class="material-icons md-24 text-muted m-v-sm">&#xe889;</i>
						      <span class="block">History</span>
						    </a>
						  </div>
						  <div class="col-sm-4 b-r">
						    <a class="p-a block text-center list_telp">
						      <i class="material-icons md-24 text-muted m-v-sm">&#xe0b0;</i>
						      <span class="block">Call</span>
						    </a>
						  </div>
						  <div class="col-sm-4 b-r">
						    <a class="p-a block text-center">
						      <i class="material-icons md-24 text-muted m-v-sm">&#xe0b7;</i>
						      <span class="block">Chat</span>
						    </a>
						  </div>
						  <div class="col-sm-4">
						    <a class="p-a block text-center">
						      <i class="material-icons md-24 text-muted m-v-sm">&#xe0be;</i>
						      <span class="block">Inbox</span>
						    </a>
						  </div>
						</div>
					</div>
		          </li>
		          <li class="nav-item dropdown">
		            <a href class="nav-link" data-toggle="dropdown">
		              <i class="material-icons">&#xe7f5;</i>
		              <span class="label up p-0 warn"></span>
		            </a>
		            <!-- dropdown -->
					<div class="dropdown-menu dropdown-menu-overlay pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
					    <div class="scrollable" style="max-height: 220px">
					      <ul class="list-group list-group-gap m-0">
					        <li class="list-group-item black lt box-shadow-z0 b">
					          <span class="pull-left m-r">
					            <!-- <img src="../assets/images/a0.jpg" alt="..." class="w-40 img-circle"> -->
					          </span>
					          <span class="clear block">
					            Use awesome <a href class="text-primary">animate.css</a><br>
					            <small class="text-muted">10 minutes ago</small>
					          </span>
					        </li>
					      </ul>
					    </div>
					</div>
					<!-- / dropdown -->

		          </li>
		          <li class="nav-item dropdown">
		            <a href class="nav-link p-0 pl-2 clear" data-toggle="dropdown">
		              <span class="avatar w-32">
		                <img src="<?php echo base_url('vendor/assets_flatkit/images/a2.jpg');?>" alt="...">
		                <i class="busy b-white right"></i>
		              </span>
		            </a>
		            <div class="dropdown-menu dropdown-menu-overlay pull-right">
					  <a class="dropdown-item" ui-sref="app.inbox.list">
					    <span>Inbox</span>
					    <span class="label warn m-l-xs">3</span>
					  </a>
					  <a class="dropdown-item f_pegawai">
					    <span>Profile</span>
					  </a>
					  <a class="dropdown-item" ui-sref="app.page.setting">
					    <span>Settings</span>
					    <span class="label primary m-l-xs">3/9</span>
					  </a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" ui-sref="app.docs">
					    Need help?
					  </a>
					  <a class="dropdown-item" href="<?php echo base_url('welc/logout');?>">Sign out</a>
					</div>

		          </li>
		        </ul>
		        <!-- / navbar right -->
			</div>
		</div>

		<!-- content -->
		<div ui-view class="app-body" id="view">
			
		<?php 
		  echo calrt();
		  $this->session->unset_userdata('msg');
		  $this->session->unset_userdata('error');
		?>